/* * {
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
} */

body {
    background: #222;
    color: #eee;
}

input, select {
    background: #333;
    border: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.controls {
    /* margin: 30px; */
    padding: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

input, select, button, body {
    font-family: "Consolas";
    font-size: 12pt;
    color: #eee;
    border: none;
}

select {
    padding: 5px;
    width: 90px;
}

input[type=number] {
    width: 90px;
    padding: 5px;
}

button {
    padding: 7px;
    background: #111;
}

input, select, button {
    margin: 5px;
}

input[type=checkbox] {
    width: auto;
}

.vgroup {
    display: flex;
    flex-direction: column;
}

.hgroup {
    display: flex;
    align-items: center;
}

.controlGroup {
    display: flex;
    padding: 7px;
    margin: 3px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

textarea {
    margin: 5px;
}

/* #debugArea {
    width: 100%;
    height: 20%;
} */